# ignore dependency packages
node_modules

# ignore compiled typescript
out
dist

# ignore downloaded extension files and folders
server
debugAdapters
LLVM
bin/cpptools*
bin/libc.so
bin/*.dll
bin/.vs
bin/LICENSE.txt

# ignore lock files
install.lock

# ignore generated packages
*.vsix

# ignore vscode test
.vscode-test/

# ignore generated localization file
**/nls.*.json
**/*.nls.*.json

# ignore generate native header
localized_string_ids.h

# ignore generate files.  It will be generated when building
src/nativeStrings.ts

vscode*.d.ts
.scripts/_*
