# ignore dependency packages
node_modules

# ignore compiled typescript
out
dist

# ignore downloaded extension files and folders
server
debugAdapters
LLVM
bin/assert_dialog.sh
bin/cpptools*
bin/edge_cli
bin/isense_driver
bin/libc.so
bin/LICENSE.txt
bin/scout_driver
bin/unittests
bin/vcpkgsrvtest
bin/*.dll
bin/.vs

# ignore lock files
install.lock

# ignore generated packages
*.vsix

# ignore vscode test
.vscode-test/

# ignore generated localization file
**/nls.*.json
**/*.nls.*.json

# ignore generate native header
localized_string_ids.h

# ignore generate files.  It will be generated when building
src/nativeStrings.ts

vscode*.d.ts
.scripts/_*
