
# ignore vscode settings for extension development
.vscode/**

# ignore binaries
obj/**

# ignore source files
tools/**
notices/**
test/**
src/**

# ignore .js files that are webpacked or only used for development
out/src/**
out/tools/**

# ignore ts files in ui
ui/*.ts

# ignore Azure-Pipelines files
jobs/**
cgmanifest.json

# ignore development files
tsconfig.json
test.tsconfig.json
tslint.json
.eslintrc.js
webpack.config.js
tscCompileList.txt
gulpfile.js
.gitattributes
.gitignore
CMakeLists.txt
debugAdapters/install.lock*
typings/**
**/*.map
import_edge_strings.js
localized_string_ids.h
translations_auto_pr.js

# ignore i18n language files
i18n/**

# ignore node_modules
node_modules/
