
# ignore vscode settings for extension development
.vscode/**

# ignore binaries
obj/**

# ignore source files
tools/**
notices/**
test/**
src/**
loc/**

# ignore .js files that are webpacked or only used for development
out/src/**
out/tools/**
out/loc/**

# ignore ts files in ui
ui/*.ts

# ignore Azure-Pipelines files
jobs/**

# ignore development files
tsconfig.json
test.tsconfig.json
tslint.json
webpack.config.js
tscCompileList.txt
gulpfile.js
.gitattributes
.gitignore
CMakeLists.txt
debugAdapters/install.lock*
typings/**
**/*.map