# ignore cache files for sample projects
.vscode/ipch
browse*.db*
*.obj
*.pdb
*.exe
*.ilk

# ignore exported localization xlf and LCL directories
Build/loc/LCL
vscode-extensions-localization-export
OneLocBuild

# ignore imported localization xlf directory
vscode-translations-import
