# ignore cache files for sample projects
.vscode/ipch
browse*.db*
*.obj
*.pdb
*.exe
*.ilk

# ignore exported localization xlf directory
vscode-extensions-localization-export

# ignore imported localization xlf directory
vscode-translations-import
